In [1]:
import pandas as pd
data=pd.read_csv("5000000 BT Records.csv")

In [2]:
data

                Date Description   Deposits Withdrawls     Balance
0        21-Aug-2020    Reversal      00.00  10,612.64   53,063.19
1        21-Aug-2020  Commission      00.00  26,531.60   26,531.60
2        21-Aug-2020  Debit Card      00.00   8,843.87   17,687.73
3        21-Aug-2020        Cash  23,475.67      00.00   41,163.40
4        21-Aug-2020    Interest      00.00   5,145.43   36,017.98
...              ...         ...        ...        ...         ...
4999995  15-Nov-2155    Interest  89,156.50      00.00   89,441.31
4999996  15-Nov-2155      Cheque      02.79      00.00   89,444.10
4999997  15-Nov-2155        IMPS      01.90      00.00   89,446.00
4999998  15-Nov-2155      Cheque   2,718.40      00.00   92,164.40
4999999  15-Nov-2155        Cash  33,587.94      00.00  125,752.34

[5000000 rows x 5 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Date         object
 1   Description  object
 2   Deposits     object
 3   Withdrawls   object
 4   Balance      object
dtypes: object(5)
memory usage: 190.7+ MB

In [4]:
data.describe()

               Date Description Deposits Withdrawls  Balance
count       5000000     5000000  5000000    5000000  5000000
unique        49394          15  1056138    1988052  4297963
top     16-May-2111        Bill    00.00      00.00    00.00
freq           1287      334106  2391604    2618329   238693

In [8]:
type(data.loc[1,"Deposits"])

str

In [10]:
len(data["Deposits"])

5000000

In [14]:
data["Deposits"].max()

TypeError: '>=' not supported between instances of 'int' and 'str'

In [ ]:
data